<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/fragments :: head(title='Detalles de Usuarios')"></head>
<body id="body-pd">
<header class="header" id="header">
    <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
</header>
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Ecomerce Zapatillas</span> </a>
            <div class="nav_list">
                <a th:href="@{/web/usuarios}" class="nav_link active"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Usuarios</span> </a>
                <a th:href="@{/web/productos}" class="nav_link"> <i class='bx bx-grid-alt nav_icon'></i> <span class="nav_name">Productos</span> </a>
                <a th:href="@{/web/ventas}" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Ventas</span> </a>
                <a th:href="@{/web/detalleVentas}" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span class="nav_name">Detalles de Ventas</span> </a>
            </div>
        </div>
        <a th:href="@{/web/logout}" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </a>
    </nav>
</div>
<div class="height-100 w-75 mx-auto">
    <div class="d-flex gap-2">
        <a th:href="@{/web/usuarios}" class="btn btn-primary btn-sm text-white">Volver</a>
    </div>
    <div class="text-center mb-4">
        <h3 class="text-primary">Detalle de Usuario</h3>
    </div>
    <form th:object="${usuariosDto}" class="p-4 bg-light rounded shadow-sm">
        <div class="mb-3 row align-items-center">
            <label for="id" class="col-sm-3 col-form-label fw-bold">Id Usuario:</label>
            <div class="col-sm-9">
                <input id="id" type="number" readonly class="form-control-plaintext" th:field="*{id}">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="nombre" class="col-sm-3 col-form-label fw-bold">Nombre:</label>
            <div class="col-sm-9">
                <input id="nombre" type="text" readonly class="form-control" th:field="*{nombre}">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="email" class="col-sm-3 col-form-label fw-bold">Email:</label>
            <div class="col-sm-9">
                <input id="email" type="text" readonly class="form-control" rows="3" th:field="*{email}"></input>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="rolId" class="col-sm-3 col-form-label fw-bold">Id del Rol:</label>
            <div class="col-sm-9">
                <input id="rolId" type="number" readonly class="form-control" th:field="*{rolId}">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="contrasenia" class="col-sm-3 col-form-label fw-bold">Contraseña:</label>
            <div class="col-sm-9">
                <input id="contrasenia" type="text" readonly class="form-control" th:field="*{contrasenia}">
            </div>
        </div>
    </form>
</div>
</body>
</html>